@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: 'Quicksand', sans-serif;
}

.sidebar {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .9)), url("/images/sidebar.jpg");

    .active {
        background-color: #38b2ac;
    }
}

.sidebar-link {
    @apply p-3 text-white rounded uppercase hover:shadow-md hover:bg-gray-400 hover:bg-opacity-25 cursor-pointer mb-3;
    &.active:hover {
        @apply bg-teal-600;
    }
}

.table-heading {
    @apply px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider;
}

.custom-input {
    @apply shadow appearance-none mt-4 bg-gray-100 text-gray-700 border border-gray-200 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:border-green-500 focus:bg-white;
}

#postEditor {
    height: 250px;
}
